/* Put your CSS here */
.ember-application {
    margin: 20px;
    background-color: #e0d2b8;
    font-family: 'Arvo', serif;
}
.navbar-header {
//    color: #0288cf;
}
.center-box {
    min-height: 400px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
    padding:20px;
    background-color:#daa570;
}
h3 {
    margin-top:0px;
}
p {
    margin-top:25px;
}
.begin-button {
    color: #000000;
    position:absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -45px;
}
.submit-button {
//    color: #000000;
    position:absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -49px;
}
.input-group-addon {
    width:100px;
}
.input-group {
    margin-top:15px;
}
.checkbox {
    margin-top:15px;
    margin-bottom:50px;
    font-size:16px;
}
.instructionsContainer {
    background-color:#FFFFFF;
}
.instructionsBox {
    border-color:#000000;
    border-width:1px;
    border-style:solid;
    margin:10px;
    padding:10px;
    width:90%;
    height:90%;
}
.instructions {
    margin: 0px;
}
.whole-box {
    position:absolute;
    margin-left:50px;
    margin-top: 50px;
    background-color: #e0d2b8;
    background-color: #daa570;
    border-style: solid;
    border-color: #908063;
    border-width: 1px;
}
.lid-inner {
    position:absolute;
    left:38px;
    top:38px;
    border-style:dotted;
    border-color: #908063;
    border-width: 1px;
}
.lid-corner-tl {
    position:absolute;
    left:-1px;
    top:-1px;
    border-style: solid;
    border-bottom-style:dotted;
    border-color: #908063;
    border-right-color: #000000;
    border-width: 1px;
}
.lid-corner-tr {
    position:absolute;
    right:-1px;
    top:-1px;
    width: 40px;
    height:40px;
    border-style: solid;
    border-bottom-style:dotted;
    border-color: #908063;
    border-left-color: #000000;
    border-width: 1px;
}
.lid-corner-bl {
    position:absolute;
    left:-1px;
    bottom:-1px;
    width: 40px;
    height:40px;
    border-style: solid;
    border-top-style:dotted;
    border-color: #908063;
    border-right-color: #000000;
    border-width: 1px;
}
.lid-corner-br {
    position:absolute;
    right:-1px;
    bottom:-1px;
    width: 40px;
    height:40px;
    border-style: solid;
    border-top-style:dotted;
    border-color: #908063;
    border-left-color: #000000;
    border-width: 1px;
}
.lid-alt-corner-tl {
    position:absolute;
    left:-1px;
    top:-1px;
    border-style: solid;
    border-right-style:dotted;
    border-color: #908063;
    border-bottom-color: #000000;
    border-width: 1px;
}
.lid-alt-corner-tr {
    position:absolute;
    right:-1px;
    top:-1px;
    width: 40px;
    height:40px;
    border-style: solid;
    border-left-style:dotted;
    border-color: #908063;
    border-bottom-color: #000000;
    border-width: 1px;
}
.lid-alt-corner-bl {
    position:absolute;
    left:-1px;
    bottom:-1px;
    width: 40px;
    height:40px;
    border-style: solid;
    border-right-style:dotted;
    border-color: #908063;
    border-top-color: #000000;
    border-width: 1px;
}
.lid-alt-corner-br {
    position:absolute;
    right:-1px;
    bottom:-1px;
    width: 40px;
    height:40px;
    border-style: solid;
    border-left-style:dotted;
    border-color: #908063;
    border-top-color: #000000;
    border-width: 1px;
}
.length-brackets-outer {
    position:absolute;
    width: 100%;
    height:15px;
    top: -50px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-bottom-style: none;
}
.length-note {
    margin:0px;
    margin-top: -20px;
    text-align: center;
}
.length-brackets-flap {
    position:absolute;
    width: 100%;
    height:15px;
    top: -20px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-bottom-style: none;
}
.length-brackets-top {
    position:absolute;
    width: 100%;
    height:15px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-bottom-style: none;
}
.width-brackets {
    position:absolute;
    height:15px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-bottom-style: none;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
h4 {
    margin-top:20px;
}
.underline {
    text-decoration:underline;
}
.box-side-length {
    position: absolute;
    top: -1px;
    left: 0px;
    border-right-style: dotted;
    border-color: #908063;
    border-width: 1px;
}
.box-side-width {
    position: absolute;
    top: -1px;
    border-right-style: dotted;
    border-color: #908063;
    border-width: 1px;
}
.box-side-flap {
    position: absolute;
    top: -1px;
}
.box-quantity-note {
    position: absolute;
    width: 100%;
    font-size: 30px;
    text-align:center;
    top: 50%;
    margin: 0px;
    margin-top: -15px;
}
.sides-height-brackets {
    position:absolute;
    height:15px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-bottom-style: none;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
/*    margin-left:-146px; */
}

/*    left: -91px; /* -(flap + half-of-width + 11)
    top: 23px; /* half-of-width - 2
    width: 64px; /* width(height)-of-inner-box */
/*    left: -50%;
    margin-left: -35px;
    width: 70px;
    top: 0px;*/




//begin box model classes
//end box model classes

//colors
//blue:0288cf
//tan:e0d2b8
//box:daa570
